# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
.DS_Store
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Compute platform config
platform-conf.toml

# Ignore source data
data/

# Ignore the temporary results
scratch/
# On remote systems scratch might actually be a symlink
scratch

# Ignore dask disk overflow space
dask-worker-space/

# Rendered PNG and PDF Graphs
renders/
