# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore source data
data/

# Ignore the temporary results
scratch/

# Ignore dask disk overflow space
dask-worker-space/