[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bokeh = "*"
altair-saver = "*"

[packages]
pandas = "*"
numpy = "*"
altair = "*"
vega = "*"
numexpr = "*"
bottleneck = "*"
tables = "*"
dask = {extras = ["array, dataframe, distributed"],version = "~=2.16"}
python-snappy = "*"
pyarrow = "*"
fastparquet = "*"
python-dateutil = "*"
bokeh = "*"
cloudpickle = "*"
cityhash = "*"
distributed = "*"
fsspec = "*"
murmurhash = "*"
partd = "*"
psutil = "*"
xxhash = "*"
altair-viewer = "*"
numba = "*"
toml = "*"

[requires]
python_version = "3"
